@{
    Layout = "_LayoutGuest";
    ViewData["Title"] = "Contattaci";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="col-12 mt-5">
        <form onsubmit="inviaMessaggio(event)">
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email">
            </div>
            <div class="mb-3">
                <label for="contact-name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="contact-name">
            </div>
            <div class="mb-3">
                <label for="contact-title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="contact-title">
            </div>
            <div class="mb-3">
                <label for="contact-text" class="form-label">Testo</label>
                <textarea class="form-control" id="contact-text" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        function inviaMessaggio(e) {
            e.preventDefault();
            const emailInput = document.querySelector('#contact-email');
            const nameInput = document.querySelector('#contact-name');
            const titleInput = document.querySelector('#contact-title');
            const textInput = document.querySelector('#contact-text');
            axios.post('/api/message/create', {
                email: emailInput.value,
                name: nameInput.value,
                title: titleInput.value,
                text: textInput.value
            }).then(res => {
                swal("Successo","Messaggio inserito correttamente!", "success");
                emailInput.value = '';
                nameInput.value = '';
                titleInput.value = '';
                textInput.value = '';
            }).catch(error => {
                let error_message = "";
                const keys = Object.keys(error.response.data.errors);
                keys.forEach(key => {
                    error_message += error.response.data.errors[key][0] + "\n ";
                });
                swal("Errore",error_message,"error");
            })
        }
    </script>
}